[Desktop Entry]
Exec=harbour-radiox
Icon=harbour-radiox
Type=Application
Name=radio x
X-Nemo-Application-Type=silica-qt5
X-Sailjail-OrganizationName=harbour-radiox
X-Sailjail-ApplicationName=harbour-radiox
X-Sailjail-Permissions=Internet