[Desktop Entry]
Exec=harbour-radiox
Icon=harbour-radiox
Type=Application
Name=radio x
X-Nemo-Application-Type=silica-qt5

[X-Sailjail]
OrganizationName=harbour-radiox
ApplicationName=harbour-radiox
Permissions=Audio;Internet